@model adstra_task.ViewModel.EditUserVM

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Delete User</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Delete">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input type="hidden" asp-for="Id" />
                            <input type="text" asp-for="FirstName" class="form-control" readonly="readonly" />

                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input type="text" asp-for="LastName" class="form-control" readonly="readonly" />

                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" readonly="readonly" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" asp-for="Email" class="form-control" readonly="readonly" />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger floatright" />
                            <a asp-action="Index" class="btn btn-outline-info btn-sm floatright">Back To List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>