@model adstra_task.ViewModel.EditUserVM

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" style="background-color:black">
                <div class="card-header">
                    <h1 class="text-center text-primary">Update User</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Update">
                        <div class="form-group">
                            <label asp-for="FirstName" style="color:white"></label>
                            <input type="hidden" asp-for="Id" />
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter First Name" />

                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" style="color:white"></label>
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Last Name" />

                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" style="color:white"></label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Email" style="color:white"></label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Example@Yahoo.com" />

                        </div>
                        <div class="form-group" style="color:white ; text-align:center">                       
                            <input type="submit" value="Update" class="btn btn-sm btn-outline-success floatright" />
                            <a asp-action="Index" class="btn btn-outline-info btn-sm floatright">Back To List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>